
PidFile={{ item.pidfile }} 

LogFile=/var/log/zabbix/zabbix_agentd.log

LogFileSize=0

Server={{ item.server }} 

ListenIP={{ item.listenip }} 

Hostname={{ item.hostname }} 

Include={{ item.include }}

